/boursedirect-logo.svg
/demo.py
/Icon_List.py
/refresh_test.py
/styles.qss
/venv
/Web_Scraping_Bouse_Direct.py
/Web_Scraping_Bouse_Direct_2.py
img_articles/1.jpg
img_articles/2.jpg
img_articles/3.jpg
img_articles/4.jpg
img_articles/5.jpg
img_articles/6.jpg
img_articles/7.jpg
img_articles/8.jpg
img_articles/9.jpg
img_articles/10.jpg
img_articles/11.jpg
img_articles/12.jpg
img_articles/13.jpg
img_articles/14.jpg
img_articles/15.jpg
img_articles/16.jpg
img_articles/17.jpg
img_articles/18.jpg
img_articles/19.jpg
img_articles/20.jpg
Web_Scraping_Bouse_Direct_Hyperlinks.txt
Web_Scraping_Bouse_Direct.txt
